/* following code should be suitable and common for all HTML document with the same template */
* {
    user-select: none;
    cursor: default;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: rgb(29, 100, 89);
    cursor: pointer;
}

input {
    cursor: text;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

html {
    height: 100vw;
    width: 100vw;
}

#header {
    width: 100vw;
    height: 7.5vw;
    background-color: rgba(86, 66, 50, 0.685);
    color: rgb(248, 247, 240);
    box-shadow: 2px 2px 10px 1px rgb(54, 54, 54);
}

#header>h2 {
    text-align: center;
    line-height: 7.5vw;
    font-size: 5vh;
}

#main {
    width: 100vw;
    height: calc(100vh - 7.5vw);
}

#main>main {
    float: left;
    width: 70vw;
    height: calc(100vh - 7.5vw);
    background-color: rgba(66, 66, 66, 0.15);
    overflow: scroll;
}

#main>aside {
    padding-top: 10vh;
    float: right;
    width: 30vw;
    height: calc(100vh - 7.5vw);
    background-color: rgba(86, 66, 50, 0.125);
    box-shadow: -1px 1px 10px 1px black;
    color: rgba(86, 66, 50, 0.685);
}


#screenBlock {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.375);
    transition: all 0.2s 0s linear;
}

#screenBlock:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s 0s linear;
}

#alertInfo {
    width: 350px;
    height: 200px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.75);
    transition: all 0.2s 0s linear;
    text-align: center;
}

#alertInfo:hover {
    transition: all 0.2s 0s linear;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.75);
}

#info {
    height: 150px;
    width: 300px;
    margin: 0 auto;
    overflow: scroll;
}

#info>h2 {
    color: rgb(86, 66, 50);
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}

#info>p {
    overflow: scroll;
    max-height: 110px;
    white-space: normal;
    line-height: 20px;
    position: relative;
    top: 50%;
    color: rgb(57, 45, 35);
    transform: translateY(-100%);
}

#determine {
    margin: 5px auto;
    color: rgb(248, 247, 240);
    width: 300px;
    border-radius: 10px;
    background-color: rgba(86, 66, 50, 0.625);
    box-shadow: 2px 2px 10px 1px rgba(86, 66, 50, 0.685);
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    transition: all 0.2s 0s linear;
}

#determine:hover {
    transition: all 0.2s 0s linear;
    box-shadow: .5px .5px 3px 1px rgba(86, 66, 50, 0.877);
}
#themeBlock{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s 0s linear;
    pointer-events: none;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-button {
    display: none;
}