*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
#inputText{
    width: 100%;
    height: 7.5vh;
    background-color: rgb(156, 156, 156);
}
#main{
    padding: 2vw 0;
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(156, 156, 156);
    border-radius: 2vw;
}
#main h1{
    text-align: center;
    font-size: 32px;
    margin: 2vh 0;
}
#main p{
    height: 2.5vh;
    text-align: center;
}
#main ul{
    width: 100%;
    line-height: 3.75vh;
}
#main ul li{
    height: 7.5vh;
    border: 1px black solid;
    margin: 0.5vw 0;
    background-color: rgb(199, 199, 199);
    transition: all linear 0.25s;
}
#main ul li:hover{
    box-shadow: inset 0.5px 0.5px 2px black;
    transition: all linear 0.25s;
}